.carousel__item {
  transition: transform 0.2s;
}
.carousel__item.active {
  transform: translateX(0);
}
.carousel__item.left {
  transform: translateX(-110%);
}
.carousel__item.right {
  transform: translateX(110%);
}

.carousel__dot.active {
  background-color: #b7997b;
}
