@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-green: #cdcfc4;
  --light-brown: #e9dccf;
  --light-background: #efe4d9;
  --white: #dbccbd;
  --medium-brown: #b7997b;
  --dark-brown: #856343;
  --grey: rgba(98, 81, 64, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-chalet {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
}
.background-medium-brown {
  background-color: var(--medium-brown);
}
.background-light-brown {
  background-color: var(--light-brown);
}
.background-light {
  background: var(--light-background);
}
.background-brown {
  background: var(--light-brown);
  color: var(--dark-brown);
}

.opensans {
  font-family: var(--font-opensans);
}
.poppins {
  font-family: var(--font-poppins);
}
.quicksand {
  font-family: var(--font-quicksand);
}
.ropasans {
  font-family: var(--font-ropasans);
}

.playfair {
  font-family: var(--font-playfair);
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.hidden-backface {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .rotate-card {
  transform: rotateY(180deg);
}

.multi-carousel-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.multi-carousel-track {
  display: flex;
  transition: transform 0.8s ease;
}

.multi-carousel-slide {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  box-sizing: border-box;
}

.multi-carousel-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

.multi-carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.multi-carousel-control {
  cursor: pointer;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
}

.multi-carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 770px) {
  .menu-desktop {
    display: none;
  }

  .flex-change {
    display: flex;
    flex-direction: column;
  }

  .img-media {
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 770px) {
  .menu-mobile {
    display: none;
  }
}
