@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-green: #cdcfc4;
  --light-brown: #e9dccf;
  --light-background: #efe4d9;
  --medium-brown: #b7997b;
  --dark-brown: #856343;
  --grey: rgba(98, 81, 64, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* backgrounds */
.background-chalet {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
}
.background-medium-brown {
  background-color: var(--medium-brown);
}
.background-light-brown {
  background-color: var(--light-brown);
}
.background-light {
  background: var(--light-background);
}
.background-brown {
  background: var(--light-brown);
  color: var(--dark-brown);
}

.background-chalet {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.hidden-backface {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .rotate-card {
  transform: rotateY(180deg);
}
